.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 20px 15px 10px;

    .logo {
        margin-left: 10px;
        justify-self: center;
    }

    div {
        img:first-of-type {
            margin-right: 10px; 
        }
        justify-self: end;
    }
}