.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr;
    align-items: center;
    padding: 20px 15px 10px;
    position: relative;
    
    .logo {
        justify-self: center;
        position: absolute;
    }

    div {
        img:first-of-type {
            margin-right: 10px; 
        }
        justify-self: end;
    }
}